//call main branch
manifest.defaultBranch = 'main'



//parameter definitions
params.mode = ''
params.outdir = "$launchDir/results"
params.genomeAssets = "/home/balemj/genomes"
params.executorConfig = "conf/wcm.config"
params.help = false
params.queue = 'pandas'
params.condaDir = '/athena/josefowiczlab/scratch/mib4004/.nfEnvs/conda/'
params.callpeaks = false
params.callconsensus = false


params {

  genomes {
    'hg38'  {
       bt2Index = "${params.genomeAssets}/hg38/hg38"
	   forbid = "$params.genomeAssets/hg38/hg38.blacklistReduced.bed"
	   genesList = "$params.genomeAssets/hg38/hg38_RefSeqSelect.bed"
	   rpgc = 2927000000
    }

    'mm10'  {
	   bt2Index = "$params.genomeAssets/mm10/mm10-bwt"
	   forbid = "$params.genomeAssets/mm10/mm10.blacklist.merged.bed"
	   genesList = "$params.genomeAssets/mm10/mm10_ensembleGenes.bed"
	   rpgc = 2648000000
    }
	
	'mm39' {
	  bt2Index = "$params.genomeAssets/mm39/GRCm39"
	  forbid = "$params.genomeAssets/mm39/mm39_forbid-All_Merge.bed"
	  rpgc = 2650000000
	  genesList = "$params.genomeAssets/mm39/mm39_gencode-vM33BasicAnno.bed"
	  annotations = "$params.genomeAssets/mm39/gencode.vM33.basic.annotation.gff3"
    }
	
	't2t' {
	  bt2Index = "$params.genomeAssets/T2T/T2T"
	  forbid = "$params.genomeAssets/T2T/T2T_unifiedForbid.bed"
	  rpgc = 3117000000
    }
  }
}


//Executor control

process.container = 'michaelbale/jlabflow'
includeConfig params.executorConfig

params.singCacheDir = '/athena/josefowiczlab/scratch/mib4004/.nfEnvs/singularity'

profiles {
  conda {
    docker.enabled = false
    singularity.enabled = false
    process.conda = "$projectDir/environment.yml"
    conda.cacheDir = "$params.condaDir"
    conda.createTimeout = '2 h'
    conda.enabled = true
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    singularity.enabled = false
    docker.userEmulation = true
  }
  singularity {
    docker.enabled = false
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.envWhitelist = 'SINGULARITY_BINDPATH'
    singularity.cacheDir = "$params.singCacheDir"
  }
}
