//call main branch
manifest.defaultBranch = 'main'



//parameter definitions
params.mode = params?.mode ?: ''
params.outdir = "$launchDir/results"
params.genomeAssets = "/athena/josefowiczlab/scratch/szj2001/JLab-Flow_Genomes"
params.executorConfig = "conf/wcm.config"
params.help = false
params.queue = 'scu-cpu'
params.condaDir = '/athena/josefowiczlab/scratch/mib4004/.nfEnvs/conda/'
params.callpeaks = false
params.callConsensus = false
params.SE = false
params.FL = !(params.mode == 'rna' || params.mode == 'qpro')
params.version = 2.0
params.workDir = "$launchDir/concatFq"
params.doFil = false


params {

  genomes {
    'hg38'  {
       bt2Index = "${params.genomeAssets}/hg38/hg38"
	   forbid = "$params.genomeAssets/hg38/hg38.blacklistReduced.bed"
	   genesList = "$params.genomeAssets/hg38/gencode_v44BasicAnno.bed"
	   rpgc = 2927000000
	   annotations = "$params.genomeAssets/hg38/gencode.v44.vasic.annotation.gff3"
    }

    'mm10'  {
	   bt2Index = "$params.genomeAssets/mm10/mm10-bwt"
	   forbid = "$params.genomeAssets/mm10/mm10.blacklist.merged.bed"
	   genesList = "$params.genomeAssets/mm10/gencode_vM25BasicAnno.bed"
	   annotations = "$params.genomeAssets/mm10/gencode.vM25.basic.annotation.gff3"
	   rpgc = 2648000000
    }
	
	'mm39' {
	  bt2Index = "$params.genomeAssets/mm39/GRCm39"
	  forbid = "$params.genomeAssets/mm39/mm39_forbid-All_Merge.bed"
	  rpgc = 2650000000
	  genesList = "$params.genomeAssets/mm39/mm39_gencode-vM33BasicAnno.bed"
	  annotations = "$params.genomeAssets/mm39/gencode.vM33.basic.annotation.gff3"
    }
	
	't2t' {
	  bt2Index = "$params.genomeAssets/T2T/T2T"
	  forbid = "$params.genomeAssets/T2T/T2T_unifiedForbid.bed"
	  rpgc = 3117000000
	  genesList = "$params.genomeAssets/T2T/T2T_genes.GCA009914755.bed"
	  annotations = "$params.genomeAssets/T2T/Homo_sapiens-GCA_009914755.4-2022_07-genes.gff3"
    }
  }
}


//Executor control

process.container = 'michaelbale/jlabflow'
includeConfig params.executorConfig

params.singCacheDir = '/athena/josefowiczlab/scratch/mib4004/.nfEnvs/singularity'

profiles {
  conda {
    docker.enabled = false
    singularity.enabled = false
    process.conda = "$projectDir/environment.yml"
    conda.cacheDir = "$params.condaDir"
    conda.createTimeout = '2 h'
    conda.enabled = true
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    singularity.enabled = false
    docker.userEmulation = true
  }
  singularity {
    docker.enabled = false
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.envWhitelist = 'SINGULARITY_BINDPATH'
    singularity.cacheDir = "$params.singCacheDir"
  }
}
