params {
    peakTool = "macs2" // Default tool

    peakTools = {
        "macs2"  : "./peaks/macs2.nf",
        "Genrich": "./peaks/genrich.nf",
        "macs3"  : "./peaks/macs3.nf",
		"sicer"  : "./peaks/sicer2.nf"
    }
}

params.excludeChrom = 'chrM'
params.qFil = false
params.qThresh = 0.1
params.pFil = params.pFil ?: 0.1


params {

  peakTools {
    'Genrich'  {
       excludeChrom= "chrM"
	   qThresh = params.q_value && instanceof Double ? "-q ${params.q_value}" : ""
	   pThresh = params.p_value && instanceof Double ? "-p ${params.p_value}" : ""
	   atac = params.mode == 'atac'
	   minL = params.min_len && params.min_len instanceof Integer ? "-l ${params.min_len}" : ""
	   minG = params.max_gap && params.max_gap instanceof Integer ? "-g ${params.max_gap}" : ""
	   peakAUC = params.auc && params.auc instanceof Integer ? "-a ${params.auc}" : ""
    }

    'macs2'  {
	   format = params.SE ? "BAM" : "BAMPE"
	   effGenome = params.rpgc
	   noModel = params.nomodel 
	   qThresh = params.q_value && instanceof Double ? "-q ${params.q_value}" : ""
	   pThresh = params.p_value && instanceof Double ? "-p ${params.p_value}" : ""
	   atac = params.mode == 'atac'
	   minL = params.min_len && params.min_len instanceof Integer ? "-l ${params.min_len}" : ""
	   minG = params.max_gap && params.max_gap instanceof Integer ? "-g ${params.max_gap}" : ""
	   peakAUC = params.auc && params.auc instanceof Integer ? "-a ${params.auc}" : ""
	   extSize = params.ext_size && params.ext_size instance of Integer ? "--extsize ${params.ext_size}" : "--extsize 147"
	   broadCall = params.broad_call
    }
	
	'macs3' {
	   format = params.SE ? "BAM" : "BAMPE"
	   effGenome = params.rpgc
	   noModel = params.nomodel 
	   qThresh = params.q_value && instanceof Double ? "-q ${params.q_value}" : ""
	   pThresh = params.p_value && instanceof Double ? "-p ${params.p_value}" : ""
	   atac = params.mode == 'atac'
	   minL = params.min_len && params.min_len instanceof Integer ? "-l ${params.min_len}" : ""
	   minG = params.max_gap && params.max_gap instanceof Integer ? "-g ${params.max_gap}" : ""
	   peakAUC = params.auc && params.auc instanceof Integer ? "-a ${params.auc}" : ""
	   extSize = params.ext_size && params.ext_size instance of Integer ? "--extsize ${params.ext_size}" : "--extsize 147"
	   broadCall = params.broad_call
    }
	
	'epic' {
	  bt2Index = "$params.genomeAssets/T2T/T2T"
	  forbid = "$params.genomeAssets/T2T/T2T_unifiedForbid.bed"
	  rpgc = 3117000000
	  genesList = "$params.genomeAssets/T2T/T2T_genes.GCA009914755.bed"
	  annotations = "$params.genomeAssets/T2T/Homo_sapiens-GCA_009914755.4-2022_07-genes.gff3"
    }
  }
}